:root {
  --font-color: #383e45;
  --font-sub-color: #7d7f81;
  --bg-color: #ffffff;
  --sub-bg-color: #f1f1f1;
  --separator-color: #c2c2c2;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--font-color);
}

.banner {
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.banner img {
  width: 100%;
  animation-name: zoomBG;
  animation-delay: calc(var(--scroll) * -1s);
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@media screen and (min-width: 568px) {
  .banner img {
    height: 80vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 768px) {
  .banner img {
    height: 45vh;
  }
}

.container {
  padding: 0;
  margin-top: -3vh;
}

.wrapper {
  width: 100%;
  background-color: var(--bg-color);
  padding: 8px 0 48px;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
  animation-name: noneRadius;
  animation-delay: calc(var(--scroll) * -1s);
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 16px;
  }
}

.grap {
  position: relative;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .grap {
    margin-bottom: 3rem;
  }
}
.grap::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 38px;
  height: 3px;
  background-color: var(--font-sub-color);
}
@media screen and (min-width: 768px) {
  .grap::before {
    width: 57px;
    height: 4.5px;
  }
}

.content__top {
  padding: 0 1.5rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .content__top {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 10rem;
  }
}
.content__title {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .content__title {
    margin-bottom: 3rem;
  }
}
.content__title h1 {
  font-size: 2.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 360px) {
  .content__title h1 {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 412px) {
  .content__title h1 {
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 768px) {
  .content__title h1 {
    font-size: 5.1rem;
  }
}
.content__title p {
  color: var(--font-color);
  font-size: 1.6rem;
}
@media screen and (min-width: 360px) {
  .content__title p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 412px) {
  .content__title p {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .content__title p {
    font-size: 3.3rem;
  }
}
.content__type {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  background-color: var(--sub-bg-color);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 360px) {
  .content__type {
    gap: 30px;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .content__type {
    gap: 45px;
    padding: 2.25rem;
    margin-bottom: 3rem;
  }
}
.content__item {
  text-align: center;
}
@media screen and (min-width: 360px) {
  .content__item p {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 412px) {
  .content__item p {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 768px) {
  .content__item p {
    font-size: 2.7rem;
  }
}
.content__item h2 {
  font-size: 1.6rem;
}
@media screen and (min-width: 360px) {
  .content__item h2 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 412px) {
  .content__item h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .content__item h2 {
    font-size: 3rem;
  }
}
.content__desc {
  font-size: 1.6rem;
}
.content__desc::first-letter {
  initial-letter: 2;
  margin-right: 6px;
}
@media screen and (min-width: 360px) {
  .content__desc::first-letter {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .content__desc::first-letter {
    margin-right: 15px;
  }
}
@media screen and (min-width: 360px) {
  .content__desc {
    font-size: 2rem;
  }
}
@media screen and (min-width: 412px) {
  .content__desc {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .content__desc {
    font-size: 3.3rem;
  }
}
.content__source {
  font-style: italic;
  text-align: right;
  color: var(--font-sub-color);
}
@media screen and (min-width: 360px) {
  .content__source {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 768px) {
  .content__source {
    font-size: 2.7rem;
  }
}
.content__separator {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .content__separator {
    margin-bottom: 3rem;
  }
}
.content__separator hr {
  width: 0;
  opacity: 0;
  border-color: var(--separator-color);
  animation-name: revealX;
  animation-delay: calc(var(--scroll) * -2.5s);
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.content__icon {
  width: 80px;
  height: 80px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  text-align: center;
  margin: -50px auto 0;
  border: 10px solid var(--bg-color);
  animation-name: spinIn;
  animation-delay: calc(var(--scroll) * -2.5s);
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@media screen and (min-width: 768px) {
  .content__icon {
    width: 120px;
    height: 120px;
    margin-top: -70px;
  }
}
.content__icon img {
  width: 50%;
  transform: translateX(50%);
}
.content__more {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  animation-name: fadeUp;
  animation-delay: calc(var(--scroll) * -2.5s);
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@media screen and (min-width: 360px) {
  .content__more {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 412px) {
  .content__more {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 768px) {
  .content__more {
    font-size: 5.2rem;
    margin-bottom: 3rem;
  }
}
.content__info {
  position: relative;
  background-color: var(--sub-bg-color);
  animation-name: fadeUp;
  animation-delay: calc(var(--scroll) * -3s);
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.content__nav {
  position: absolute;
  top: 1.5rem;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .content__nav {
    top: 3rem;
  }
}
.content__nav button {
  border: transparent;
  background: var(--sub-bg-color);
  padding: 0 1.5rem;
}
.content__nav button:hover {
  color: var(--primary-color);
}
.content__nav button:focus {
  outline: none;
  color: var(--primary-color);
}
@media screen and (min-width: 360px) {
  .content__nav button {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 768px) {
  .content__nav button {
    font-size: 3.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.content__box {
  padding: 1.5rem;
}
@media screen and (min-width: 768px) {
  .content__box {
    padding: 3rem;
  }
}
.content__subject {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 360px) {
  .content__subject {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 768px) {
  .content__subject {
    font-size: 3.6rem;
    margin-bottom: 3rem;
  }
}
.content__paragraph {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .content__paragraph {
    margin-bottom: 4rem;
  }
}
.content__paragraph h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 4px;
}
@media screen and (min-width: 360px) {
  .content__paragraph h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .content__paragraph h3 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 360px) {
  .content__paragraph p {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 768px) {
  .content__paragraph p {
    font-size: 3.6rem;
  }
}
.content__paragraph img {
  border-radius: 8px;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.06);
  margin: 1.5rem auto;
}
@media screen and (min-width: 768px) {
  .content__paragraph img {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@keyframes zoomBG {
  to {
    transform: scale(2);
  }
}
@keyframes noneRadius {
  to {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@keyframes revealX {
  to {
    opacity: 1;
    width: 100%;
  }
}
@keyframes spinIn {
  0% {
    transform: rotate(-200deg);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}/*# sourceMappingURL=style.css.map */