:root {
  --font-color: #383e45;
  --font-sub-color: #908f8f;
  --bg-color: #ffffff;
  --sub-bg-color: #f1f1f1;
  --separator-color: #c2c2c2;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--font-color);
}

.banner {
  overflow: hidden;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
@media screen and (min-width: 576px) {
  .banner {
    position: relative;
    z-index: -1;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
.banner img {
  width: 100%;
}
@media screen and (min-width: 568px) {
  .banner img {
    height: 70vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 768px) {
  .banner img {
    height: 45vh;
  }
}

.container {
  padding: 0;
}
@media screen and (min-width: 576px) {
  .container {
    margin-top: -3vh;
  }
}

.wrapper {
  width: 100%;
  background-color: var(--bg-color);
  padding: 1.5rem 0 4.8rem;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
}
@media screen and (min-width: 576px) {
  .wrapper {
    padding-top: 0.8rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 16px;
  }
}

.grap {
  position: relative;
  margin-bottom: 1.5rem;
  display: none;
}
@media screen and (min-width: 576px) {
  .grap {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .grap {
    margin-bottom: 3rem;
  }
}
.grap::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 38px;
  height: 3px;
  background-color: var(--font-sub-color);
}
@media screen and (min-width: 768px) {
  .grap::before {
    width: 57px;
    height: 4.5px;
  }
}

.content__top {
  padding: 0 1.5rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .content__top {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 10rem;
  }
}
.content__title {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .content__title {
    margin-bottom: 3rem;
  }
}
.content__title h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 360px) {
  .content__title h1 {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 412px) {
  .content__title h1 {
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 768px) {
  .content__title h1 {
    font-size: 5.1rem;
  }
}
.content__title q {
  color: var(--font-sub-color);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
}
@media screen and (min-width: 360px) {
  .content__title q {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 412px) {
  .content__title q {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 768px) {
  .content__title q {
    font-size: 2.85rem;
  }
}
.content__general {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .content__general {
    margin-bottom: 3rem;
  }
}
.content__subject {
  font-size: 1.7rem;
}
@media screen and (min-width: 360px) {
  .content__subject {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 412px) {
  .content__subject {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 768px) {
  .content__subject {
    font-size: 3.15rem;
  }
}
.content__type, .content__appear {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .content__type, .content__appear {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 576px) {
  .content__type, .content__appear {
    margin-top: 2rem;
  }
}
.content__item {
  flex: 1;
  text-align: center;
  background-color: var(--sub-bg-color);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 1rem;
}
.content__caption {
  color: var(--font-sub-color);
}
@media screen and (min-width: 360px) {
  .content__caption {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 412px) {
  .content__caption {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 768px) {
  .content__caption {
    font-size: 2.7rem;
  }
}
.content__detail {
  font-weight: 600;
  color: var(--primary-color);
}
.content__detail span {
  font-size: 1.8rem;
}
@media screen and (min-width: 360px) {
  .content__detail span {
    font-size: 2rem;
  }
}
@media screen and (min-width: 412px) {
  .content__detail span {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .content__detail span {
    font-size: 3.3rem;
  }
}
@media screen and (min-width: 360px) {
  .content__detail {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 412px) {
  .content__detail {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .content__detail {
    font-size: 3rem;
  }
}
.content__distribution {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .content__distribution {
    margin-bottom: 3rem;
  }
}
.content__distribution p {
  font-size: 1.6rem;
}
@media screen and (min-width: 360px) {
  .content__distribution p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 412px) {
  .content__distribution p {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .content__distribution p {
    font-size: 3.3rem;
  }
}
.content__desc {
  font-size: 1.6rem;
}
.content__desc::first-letter {
  initial-letter: 2;
  color: var(--primary-color);
  margin-right: 6px;
}
@media screen and (min-width: 360px) {
  .content__desc::first-letter {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .content__desc::first-letter {
    margin-right: 15px;
  }
}
@media screen and (min-width: 360px) {
  .content__desc {
    font-size: 2rem;
  }
}
@media screen and (min-width: 412px) {
  .content__desc {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  .content__desc {
    font-size: 3.3rem;
  }
}
.content__source {
  font-style: italic;
  text-align: right;
  color: var(--font-sub-color);
}
@media screen and (min-width: 360px) {
  .content__source {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 768px) {
  .content__source {
    font-size: 2.7rem;
  }
}
.content__separator {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .content__separator {
    margin-bottom: 2rem;
  }
}
.content__separator hr {
  border-color: var(--separator-color);
}
.content__icon {
  width: 80px;
  height: 80px;
  display: grid;
  place-content: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  text-align: center;
  margin: -50px auto 0;
  border: 10px solid var(--bg-color);
}
@media screen and (min-width: 768px) {
  .content__icon {
    width: 120px;
    height: 120px;
    margin-top: -70px;
  }
}
.content__icon img {
  width: 50%;
  transform: translateX(50%);
}
.content__more {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 360px) {
  .content__more {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 412px) {
  .content__more {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 768px) {
  .content__more {
    font-size: 5.2rem;
    margin-bottom: 3rem;
  }
}
.content__info {
  padding: 1.5rem;
  background-color: var(--sub-bg-color);
}
@media screen and (min-width: 768px) {
  .content__info {
    padding: 3rem;
  }
}
.content__paragraph {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .content__paragraph {
    margin-bottom: 4rem;
  }
}
.content__paragraph h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 4px;
}
@media screen and (min-width: 360px) {
  .content__paragraph h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .content__paragraph h3 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 360px) {
  .content__paragraph p {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 768px) {
  .content__paragraph p {
    font-size: 3.6rem;
  }
}
.content__paragraph img {
  border-radius: 8px;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.06);
  margin: 1.5rem auto;
}
@media screen and (min-width: 768px) {
  .content__paragraph img {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}/*# sourceMappingURL=style.css.map */