:root {
  --primary-color: #459113;
  --secondary-color: #b8e699;
}

.nav-tabs {
  .nav-item {
    .nav-link.active {
      font-weight: 600;
      color: var(--primary-color);
      background-color: var(--light);
    }
  }
}

.content {
  &__desc {
    &::first-letter {
      color: var(--primary-color);
    }
  }
  &__text {
    &--primary {
      color: var(--primary-color);
    }
  }
  &__icon {
    background-color: var(--secondary-color);
  }
}
