:root{
    --primary-color: #007bff;
}
.banner{
    background-image: url(../img/dunkleosteus.jpg);
}
.nav-tabs{
    .nav-item{
        .nav-link.active{
            font-weight: 600;
            color: var(--info);
            background-color: var(--light);
        }
    }
}
.content{
    &__desc{
        &::first-letter{
            color: var(--primary-color);
        }
    }
    &__icon{
        background-color: #00458f;
      }
}